#cao {
	height: 180px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	
}


li {
	text-decoration: none;
	list-style: none;
}

a {
	text-decoration: none;
}

.row{
	width: 300px;
	height: 100px;
}
.d2{
	height: 100px; width: 300px;
		
}
.d3{
	height: 100px; width: 300px;
	
}
.d4{
	height: 100px; width: 300px;
	
}
.margin-left{
	margin-left: 10px;
}
.font-color{
	color:#424242 ;
}
